.header-top ul{
    display: none;
}
.container1
{

    border: 1px solid purple;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.container1{
    margin-top: 20px;
     border: 1px solid #381328;
   height: 100%;
}
.container1 >div > img
{

    width: 100%;
    height: 100%;
    
}
.container1 > div {
    
    width: 500px;
    
}

.container2{
    
    display: flex;
    height: 800px;
    justify-content: space-between;
  
}
.container2  section{
    flex: 1;
}
.container2 section .handwriting{
    flex: 2;
}
.text{
    border: 2px solid palevioletred;
    background-image: url("pixabay5.png");
    margin-top: 10px;
    border-radius: 350px;
    
}

.rightText{
    border: 2px solid palevioletred;
     background-image: url("pixabay6.png");
    margin-top: 10px;
   border-radius: 350px;
}
.text div{


    height: 300px;
    
    
}
.text .card-body{
    padding-top: 95px;
    padding-left: 450px;
}
.fa-glass-martini-alt{
    color:whitesmoke;
    font-size: 20px;
}
ul li a {

     font-family: sans-serif;
     font-style: italic;
     
     font-size: 17px !important;   
}

.slider{
     border: 1px solid #381328;
}

#header{
    height: 50px;
    background-color: #b01355 !important;
    border: 1px solid #381328;
}

.form-inline{
    margin-top: -5px;
}
span{
    
    border: 4px double antiquewhite;
    border-radius: 73px;
}

a:hover{
    color:  antiquewhite;
    font-size: 18px !important;
    text-decoration: none;
}

.btn-light{
    margin-left: 11px;
font-size: 12px;
font-family: sans-serif;
font-style: oblique;
color: black;

}
.btn-light:hover{
    color:#b01355; 
}
.form-inline input{
font-size: 13px;
font-family: sans-serif;
font-style: italic;
color: black;
}
.blank{
    height: 200px;
    position: fixed;
}
.handwriting{
    font-family: 'Black Ops One', cursive;
     background-image: url("pixabay1.png");
    
    background-repeat: no-repeat;

    
    margin-top: 35px;
    padding-top: 339px;
    text-align: center;
    display: table;
    width: 160px;
    margin-right: 5px;
}

.btn-primary
{
    background-color:#b01355;
    color: snow;
    font-family: sans-serif;
    font-style: italic;
    font-size: 16px; 
}
.btn-primary:hover{
background-color: snow;
color: #b01355;

}

body{
    background-color: #381328;
}

.footer-area{
    
    width: 100%;
  
   background-image: none;
border: 3px solid #785064;
height: 392px;
}